body {
	font-family: arial;
	margin: 0px; /* for IE6 / IE7 */
}

a {
	text-decoration: none;
	cursor: pointer;
}

td > a {
	cursor: help;
}

/* drag container */
#main_container {
	margin: auto;
	/* the following line centers the tables */
	/* width: 730px; */
}
		/* container for the left table */
		#main_container #left {
			width: 72px; /* 7/27/14 130px → 100px → 80px */
			height: 260px;
			float: left;
			margin-right: 5px; /* space between left and right tables */
		}
		/* container for the main table and message line below */
		#main_container #right {
			padding-right: 0px;
			margin-left: 10px; /* doesn't do much? */
		}

/* drag objects (DIV inside table cells) */
.drag {
	cursor: move;
	margin: auto;
	z-index: 10;
	color: black; /* was #222 */
	text-align: center;
	font-size: 10pt; /* needed for cloned object */
	opacity: 1.0; /* was 0.7 */
	/* filter: alpha(opacity=70);  was 70 */
	/* without width, IE6/7 will not apply filter/opacity to the element ?! */
	/* IE needs element layout */
	width: 63px;	/* was 87px, then 75px, then 69px */
	height: 30px; /* was 20px */
	line-height: 15px; /* was 20px, then 30px */
	/* border */
	border: 1px solid #555;
	/* round corners */
	border-radius: 3px;
	-moz-border-radius: 3px; /* FF */
}

/* tables */
div#drag table { /* left table */
	background-color: #eee;
	border-collapse: collapse;
}
	/* right table */
	div#drag #table2 {
		table-layout: fixed;
		/*width: 870px;*/
	}

/* table cells */
div#drag td {
	border-style: solid;
	border-width: 1px;
	border-color: white;
	height: 32px;
	text-align: center;
	font-size: 10pt;
	padding: 1px; /* was 2px */
}

		/* overwrite border settings for left tables */
		/* set all borders to 0px except border-bottom */
		div#drag #table1 td {
			border-width: 0px 0px 1px 0px;
		}

			/* styles for clone DIV elements in left table */
			div#drag #table1 div {
				margin-left: auto;
				/*float: center;*/
			}

			/* DEFINE STYLES FOR BUTTONS */
			div#drag #table1 input {
				/* float: right; */
				width: 15px;
				height: 23px;
				/* margin-right: 5px; */
				border-width: 1px;
				/* round corners */
				border-radius: 3px;
				/* default visibility is hidden */
				/* visibility: hidden; */
			}

/* input elements in dragging container */
div#drag input {
	cursor: auto;
}

	/* height for input text in DIV element */
	div#drag #bl input {
		height: 15px;
		display: table-cell;
	}

	/* height for dropdown menu in DIV element */
	div#drag #d5 select {
		height: 20px;
	}

/* descriptor DIV colors */
.bl {
	background-color: #90EE90;
}
.i {
	background-color: #A3C4FD;
}
.io {
	background-color: #B0A9D6;
}
.o {
	background-color: #c488ae;
}
.os {
	background-color: #E26780;
}
.s {
	background-color: #FF454B;
}

/* blank cells (upper left corner) */
.blank {
	background-color: white;
}

/* preview pane */
#preview {
	background-color: white;
	margin-top: 15px;
	clear: both;
}

/* dark cells (first column and table header) */
.dark {
	color: #444;
	background-color: #e0e0e0;
}
.button_container {
	padding-top: 10px;
	text-align: right;
}

		/* "Save" button (deprecated 7/29/14) */
		.button_container input {
			background-color: #6A93D4;
			color: white;
			border-width: 1px;
			width: 40px;
			padding: 0px;
		}

.t2 {
	border: 2px solid SteelBlue;
}

/* single content, non-overwritable left table of severities */
.single {
	background-color: #e0e0e0;
}

#textareaReport {
	width: 70em;
	height: 17em;
	margin-bottom: 4px;
}

div.editable {
	max-width: 1000px;
	border: 1px solid #ccc;
	padding: 5px;
	margin-left: 10px;
	color: black;
	padding-top: 5px;
	float: left;
}

label {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.inline {
	color: white;
	cursor: alias;
}

.inline div {
	line-height: 32px;
}

.handle {
	width: 20px;
}

.other {
	color: white;
	background-color: #7f8c8d;
}

.header-right {
	float: right;
	font-size: small;
	text-align: right;
}

.header-title {
	background-color: #eee;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.cb {
	font-variant: small-caps;
	font-size: medium;
	color: blue;
}

button {
	height: 50px;
}

button#selectAllbtn {
	width: 150px;
}

.footer {
	clear: both;
	padding-left: 15px;
	font-size: x-small;
	padding-top: 20px;
}

div > span {
	line-height: 30px; /* vertically align '←' within dragdealer */
	float: left;
	cursor: pointer;
}

span + span {
	float: right; /* for '→' within dragdealer */
}
